* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[type=button]:not(:disabled), 
[type=reset]:not(:disabled), 
[type=submit]:not(:disabled), 
button:not(:disabled) {
    outline: none;
}
@font-face{
    font-family: "gilroy-semibold";
    src:url(../fonts/gilroy-semibold.otf)
}


.page__five__wrapper {
    width: 430px !important;
    height: 430px;
}

.page__five__wrapper .modal-header {
    border: none;
    height: 60px;
}

.page__five__wrapper .modal-body .modal__body__wrapper {
    align-items: center;
    text-align: center;
}

.page__five__wrapper .modal-body .modal__body__wrapper  h4{
    font-family: gilroy-semibold;
}
.page__five__wrapper .modal-body .modal__body__wrapper  p{
    font-family: 'Open Sans', sans-serif;
    font-size:10.5pt;
}
.page__five__wrapper .container .modal-footer {
    border: none;
}

.page__five__wrapper .container .modal-footer>button {
    outline: none;
}