* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    outline-style: none;
}
@font-face{
    font-family: "gilroy-regular";
    src:url(../fonts/gilroy-regular.otf)
}
@font-face{
    font-family: "gilroy-semibold";
    src:url(../fonts/gilroy-semibold.otf)
}
/* .container{
    color:white;
} */
.page__three__wrapper{
    color:white;
}
.page__three__wrapper .modal-footer .logo__image {
    height: 26px;
}
.page__three__wrapper {
    width: 430px !important;
    height: 430px;
    background-color:#6c44f5 !important; 
}
.page__three__wrapper .close__button .close{
    outline: none;
}
.page__three__wrapper .modal__header {
    border: none;
}
.page__three__wrapper .modal-header{
    padding:0;
    font-family: gilroy-semibold;
}
.page__three__wrapper .modal-body{
    padding:0;
}

.page__three__wrapper .modal-body p{
 font-size: 14px;
}

.page__three__wrapper .modal__footer {
    border: none;
}
.page__three__wrapper .modal-body  .modal__body__wrapper__first__text{
    width:75%;
    font-family: gilroy-regular;
    }
.page__three__wrapper .modal-body  .modal__body__wrapper__second__text{
width:59.9%;
font-family: gilroy-regular;
}
.page__three__wrapper .modal-footer .mobile__icon{
    bottom:0;
   right:-35px;
}